let mapleader = " "

" config
set scrolloff=5
set incsearch
set hlsearch
set smartcase
set ignorecase
set relativenumber
set showcmd
set clipboard^=ideaput,unnamed,unnamedplus
set ideajoin

" plugins
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'terryma/vim-multiple-cursors'
Plug 'tommcdo/vim-exchange'
map H ^
map L $
nmap Q gq
nmap <C-]> gt
nmap <C-[> gT
nmap <C-k> <C-w>k
nmap <C-j> <C-w>j
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
map \ :noh<CR>

" idea config
nmap <CR> <Action>(GotoDeclaration)
nmap <BS> <Action>(Back)
nmap <A-k> <Action>(Forward)
nmap <A-j> <Action>(Back)
nmap <Leader>rr <Action>(RenameElement)
nmap <Leader>R <Action>(Run)
nmap <Leader>D <Action>(Debug)

" easymotion config
let g:EasyMotion_startofline = 0
let g:EasyMotion_smartcase = 1
let g:EasyMotion_use_upper = 1
let g:EasyMotion_use_smartsign = 1
map <Leader>s <Plug>(easymotion-sl)
map <Leader>f <Plug>(easymotion-fl)
map <Leader>F <Plug>(easymotion-Fl)
map <Leader>t <Plug>(easymotion-tl)
map <Leader>T <Plug>(easymotion-Tl)
" nmap / <Plug>(easymotion-sn)
" nmap n <Plug>(easymotion-next)
" nmap N <Plug>(easymotion-prev)
map <Leader><Leader>h <Plug>(easymotion-linebackward)
map <Leader><Leader>l <Plug>(easymotion-lineforward)

" multiple-cursors config
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences